<div class="page-header">
	<h1>Editar Contato</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= link_to 'Exibir', cliente_potencial_contato_path(:cliente_potencial_id => @contato.cliente_potencial_id, :id => @contato.id) %> |
		<%= link_to 'Voltar', cliente_potencial_path(@contato.cliente_potencial_id) %>
	</div>
</div>
