<div class="page-header">
	<h1>Editar Atividade</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= link_to 'Exibir', @atividade %> |
		<%= link_to 'Voltar', atividades_path %>
	</div>
</div>