<div class="col-md-12">
	<div class="jumbotron">
		<h1>CRM Simplificado</h1>
		<p>Software de gestão de vendas para freelancers e profissionais liberais.</p>
		<p><%= link_to "Comece a usar", new_account_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
</div>
